{% extends 'SocialNetworkApp/layout.html' %}
{% load static %}

{% block title %}Додати музику{% endblock %}

{% block head %}
<style>
.containerAddPost {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.post-containerAddPost{
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.btn-primary {
  display: block;
  width: 200px;
  margin: 0 auto;
}
</style>
{% endblock %}

{% block content %}
<div class="containerAddPost">
  <div class="post-containerAddPost">
    <h2>Додати музику</h2>
    <form action="{% url 'add_music' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="post_text">Текст поста:</label>
        <input type="text" name="post_text" id="post_text" class="form-control">
      </div>
      <div class="form-group">
        <label for="post_date">Дата:</label>
        <input type="date" name="post_date" id="post_date" class="form-control">
      </div>
      <div class="form-group">
        <label for="audio_post">Музыка:</label>
        <input type="file" name="audio_post" id="audio_post" class="form-control-file">
      </div>
      <div class="form-group">
        <label for="published">Опубликовано:</label>
        <input type="checkbox" name="published" id="published">
      </div>
      <button type="submit" class="btn btn-primary">Додати</button>
    </form>
  </div>
</div>
{% endblock %}
