{% extends 'SocialNetworkApp/layout.html' %}
{% load static %}

{% block title %}Профіль{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'SocialNetworkApp/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container_profile">
  <div class="row first-row">
    <div class="column profile-column">
      <img src="{{ user.avatar.url }}" width="50" height="50" alt="Profile Image">
    </div>
    <div class="column info-column">
      <form action="{% url 'SocialNetworkApp:add_profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.first_name.id_for_label }}">Імя:</label>
          {{ form.first_name }}
        </div>
        <div class="form-group">
          <label for="{{ form.last_name.id_for_label }}">Фамілія:</label>
          {{ form.last_name }}
        </div>
        <div class="form-group">
          <label for="{{ form.avatar.id_for_label }}">Аватар:</label>
          {{ form.avatar }}
        </div>
        <div class="form-group">
          <label for="{{ form.phone.id_for_label }}">Телефон:</label>
          {{ form.phone }}
        </div>
        <div class="form-group">
          <label for="{{ form.bio.id_for_label }}">Про себе:</label>
          {{ form.bio }}
        </div>
        <div class="form-group">
          <label for="{{ form.birthday.id_for_label }}">День народження:</label>
          {{ form.birthday }}
        </div>
        <button type="submit" class="btn btn-primary">Додати</button>
      </form>
    </div>
  </div>
  <div class="row second-row">
    <div class="post-container-wrapper">
      {% for post in posts %}
      <div class="post-container">
        <div class="user-info">
          <img src="{{ post.user.avatar.url }}" class="user-logo">
          <p class="username">{{ post.user }}</p>
        </div>
        <div class="post-image">
          <img src="{{ post.photo_post.url }}" class="post-img">
        </div>
        <div class="post-info">
          <p class="post-date">Опис: {{ post.post_text }}</p>
          <p class="post-date">Дата публікації: {{ post.post_date }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
