<!-- addPost.html -->

{% extends 'SocialNetworkApp/layout.html' %}
{% load static %}

{% block title %}Додати пост{% endblock %}

{% block head %}
<style>
.containerAddPost {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.post-containerAddPost{
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.btn-primary {
  display: block;
  width: 200px;
  margin: 0 auto;
}
</style>
{% endblock %}

{% block content %}
<div class="containerAddPost">
  <div class="col-md-6">
    <div class="post-containerAddPost">
      <h2>Додати пост</h2>
      <form action="{% url 'SocialNetworkApp:add_post' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.post_text.id_for_label }}">Текст посту:</label>
          {{ form.post_text }}
        </div>
        <div class="form-group">
          <label for="{{ form.photo_post.id_for_label }}">Фото:</label>
          {{ form.photo_post }}
        </div>
        <button type="submit" class="btn btn-primary">Додати</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
