{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'SocialNetworkApp/css/main.css'%}">
    <title>{% block title %} {% endblock %}</title>

    {% block head %}
    {% endblock %}
</head>
<body>
<div class="container">
    <div id="sidebar">
        <div id="profile-image">
            {% if user.is_authenticated %}
                {% if user.avatar %}<img src="{{ user.avatar.url }}" width="175" height="175" alt="Profile Image"> {% endif %}
            {% endif %}
        </div>
        <a class="menu-button" href="{% url 'SocialNetworkApp:home' %}">Головна</a>
        <a class="menu-button" href="{% url 'SocialNetworkApp:music' %}">Музика</a>
        {% if user.is_authenticated %}
            <a class="menu-button" href="{% url 'SocialNetworkApp:liked_posts' %}">Вподобані пости</a>
            <a class="menu-button" href="{% url 'SocialNetworkApp:liked_posts' %}">Вподобана музика</a>
            <a class="menu-button" href="{% url 'SocialNetworkApp:current_user_profile' %}">Профіль</a>
            <a class="menu-button" href="{% url 'SocialNetworkApp:add_music'%}">Додати музику</a>
            <a class="menu-button" href="{% url 'SocialNetworkApp:add_post'%}">Додати пост</a>
            <a class="menu-button" href="{% url 'users:logout' %}">Вийти</a>
        {% else %}
            <a class="menu-button" href="{% url 'users:login' %}">Увійти</a>
            <a class="menu-button" href="{% url 'users:register' %}">Реєстрація</a>
        {% endif %}
    </div>

    <div id="frame">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>
