{% extends 'SocialNetworkApp/layout.html' %}
{% load static %}
{% block title %}Головна{% endblock %}

{% block head %}
<script src="{% static 'SocialNetworkApp/js/show_comments.js' %}"></script>
{% endblock %}

{% block content %}
<div class="post-container-wrapper">
  {% for liked_post in liked_posts %}
  <div class="post-container">
    <div class="user-info">
      <a href="{% url 'SocialNetworkApp:profile_user' liked_post.music.user.username %}">
  <img src="{{ liked_post.music.user.avatar.url }}" class="user-logo">
      </a>
      <p class="username">{{ liked_post.music.user }}</p>
    </div>
    <div class="post-image">
    <div class="audio-player">
      <audio controls>
        <source src="{{ liked_post.music.audio_post.url }}" type="audio/mpeg">
        Ваш браузер не поддерживает аудиоэлемент.
      </audio>
    </div>
    </div>
    <div class="post-info">
      <p class="post-date">Опис: {{ liked_post.music.post_text }}</p>
      <p class="post-date">Дата публікації: {{ liked_post.music.post_date }}</p>
    </div>
    <a href="{% url 'SocialNetworkApp:music_post' liked_post.music.id %}">Відкрити пост</a>
  </div>
  {% endfor %}
</div>
{% endblock %}
