{% extends 'SocialNetworkApp/layout.html' %}
{% load static %}
{% block title %}Музичні пости{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="post-container-wrapper">
  {% for post in music_posts %}
  <div class="post-container">
    <div class="user-info">
      <a href="{% url 'SocialNetworkApp:profile_user' post.user.username %}">
        <img src="{{ post.user.profile.avatar.url }}" class="user-logo">
      </a>
      <p class="username">{{ post.user }}</p>
    </div>
    <div class="post-info">
      <p class="post-date">Опис: {{ post.post_text }}</p>
      <p class="post-date">Дата публікації: {{ post.post_date }}</p>
    </div>
    <div class="audio-player">
      <audio controls>
        <source src="{{ post.audio_post.url }}" type="audio/mpeg">
        Ваш браузер не поддерживает аудиоэлемент.
      </audio>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
