{% extends 'SocialNetworkApp/layout.html' %}
{% load static %}

{% block title %}Профіль{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'SocialNetworkApp/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container_profile">
  <div class="row first-row">
    <div class="column profile-column">
      <img src="{{ user.avatar.url }}" width="50" height="50" alt="Profile Image">
    </div>
    <div class="column info-column">
      <a>Ім'я:  {{ user.get_full_name }}</a>
      {% if user.bio %}<a>Про себе: {{ user.bio }}</a> {% endif %}
      {% if user.phone %}<a>Телефон: {{ user.phone }}</a> {% endif %}
      {% if user.birthday %}<a>День народження: {{ user.birthday }} {% endif %}</a>
      <a style="color: blue; text-decoration: none;" href="{% url 'SocialNetworkApp:add_profile' %}">Редагувати профіль</a>
    </div>
  </div>
  <div class="row second-row">
    <div class="post-container-wrapper">
      {% for post in posts %}
      <div class="post-container">
        <div class="user-info">
          <img src="{{ post.user.avatar.url }}" class="user-logo">
          <p class="username">{{ post.user }}</p>
        </div>
        <div class="post-image">
        <a href="{% url 'SocialNetworkApp:post' post.id %}">
          <img src="{{ post.photo_post.url }}" class="post-img">
        </a>
        </div>
        <div class="post-info">
          <p class="post-date">Опис: {{ post.post_text }}</p>
          <p class="post-date">Дата публікації: {{ post.post_date }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
